@use '../abstracts' as *;

.register_container {
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-primary;
}

.register {
  padding: 2rem;
  background-color: $bg-secondary;
  border-radius: 0.5rem;
  border: 1px solid $line;
  width: 30rem;

  * {
    color: $text-secondary;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $text-primary;
  }

  form {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000000000s 0s, color 5000000000s 0s;
      color: $text-primary !important;
    }

    > div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }

    .form_label {
      font-size: 0.9rem;
      font-weight: normal;
      margin-bottom: 0.5rem;
    }

    .form_input {
      padding: 0.7rem;
      border: 1px solid $line;
      border-radius: 0.5rem;
      background-color: $bg-tertiary;
      color: $text-primary;
    }

    .form_input:focus {
      border: 1px solid $accent;
    }

    .form_input::placeholder {
      color: $text-secondary;
      font-size: 12px;
    }

    .btn_submit {
      padding: 0.7rem;
      border: none;
      border-radius: 0.25rem;
      background-color: $accent;
      color: $text-primary;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
      margin: 1rem 0;
      transition: all 0.2s ease-in-out;
    }

    .btn_submit:hover {
      background-color: darken($accent, 5%);
      color: $text-primary;
    }

    .btn_submit:disabled {
      opacity: 0.5;
    }

    .text {
      font-size: 0.8rem;
      margin-top: 1rem;

      a {
        color: $accent;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
