@use '../abstracts' as *;

.footer {
  margin-top: 2rem;

  .credit {
    text-align: center;
    margin-top: 3rem;

    p {
      font-size: 1.5rem;
      background-color: $bg-secondary;
      color: $text-secondary;
      font-weight: 400;

      span {
        font-style: italic;
        color: $accent;
        font-weight: bold;
      }
    }
  }
}
