@use '../abstracts' as *;

.footer {
  margin-top: 3rem;
  padding: 1rem 2rem;
  background-color: $accent;


  .credit {
    text-align: center;

    p {
      color: $bg-primary;
      font-weight: 400;

      a {
        color: $bg-secondary;
        font-weight: bold;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
