@use '../abstracts' as *;

.form_container {
  height: 100vh;
  width: 100vw;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bg-primary;
}

.form {
  padding: 2rem;
  background-color: $bg-secondary;
  border-radius: 0.5rem;
  border: 1px solid $line;
  width: 30rem;

  * {
    color: $text-secondary;
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: $text-primary;
  }

  form {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
      transition: background-color 5000000000s 0s, color 5000000000s 0s;
      color: $text-primary !important;
    }
    > div {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;
    }

    .form_label {
      font-size: 0.9rem;
      font-weight: 500;
      margin-bottom: 0.5rem;
    }

    .MuiOutlinedInput-adornedStart {
      padding-top: 0.75rem !important;
    }

    .MuiInputBase-root {
      box-shadow: 0 0 0 1px $line;
      border-radius: 0.25rem;
    }

    .MuiInputBase-root * {
      outline: none !important;
      border: none !important;
    }

    .form_input, textarea, input[type="file"] {
      padding: 0.7rem;
      box-shadow: 0 0 0 1px $line;
      border: none;
      border-radius: 0.25rem;
      color: $text-primary;
      font-size: 0.9rem;

      transition: box-shadow 0.25s ease;
    }

    :is(.form_input, textarea, input[type="file"])::placeholder {
      color: transparentize($color: $text-secondary, $amount: 0.5);
    }

    .MuiChip-deleteIcon {
      fill: $accent;
    }

    :is(.form_input, textarea, .MuiInputBase-root, input[type="file"]):hover {
      box-shadow: 0 0 0 1px transparentize($color:  $accent, $amount: 0.5);

    }

    :is(.form_input, textarea):focus {
      box-shadow: 0 0 0 1px $accent;
    }

    .form_input::placeholder {
      color: $text-secondary;
      font-size: 14px;
    }

    .btn_submit {
      padding: 0.7rem;
      border: none;
      border-radius: 0.25rem;
      background-color: $accent;
      color: $bg-secondary;
      font-weight: bold;
      cursor: pointer;
      width: 100%;
      margin: 1rem 0;
      transition: background-color 0.25s ease, opacity 0.25s ease;
    }

    .btn_submit:disabled {
      opacity: 0.75;
    }

    .btn_submit:hover {
      background-color: lighten($accent, 5%);
    }

    .text {
      font-size: 0.8rem;
      margin-top: 1rem;
      font-weight: 500;

      a {
        color: $accent;
        font-weight: bold;
        transition: all 0.2s ease-in-out;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
