@use '../abstracts' as *;

.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 8px 3%;
  background-color: $bg-secondary;
  z-index: 100;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .logo {
      font-size: 1.5rem;
      font-weight: 500;
      color: $text-primary;
      margin-right: auto;
    }

    .nav_links {
      display: flex;
      align-items: center;
      gap: 1rem;

      .nav_item {
        a {
          font-size: 1.1rem;
          font-weight: 500;
          color: $text-primary;
          text-decoration: none;
          transition: all 0.2s ease-in-out;

          &:hover {
            color: $accent;
          }
        }
      }
    }
  }
}
