$accent: rgb(255, 126, 29);
$accent-light: rgb(227, 180, 136);
$bg-primary: rgb(245, 243, 243);
$bg-secondary: #fff;
$text-primary: rgb(17, 17, 17);
$text-secondary: rgb(41, 41, 41);
$line: rgb(199, 196, 194);
$shadow: rgba(0, 0, 0, 0.1);
