$accent: rgb(255, 126, 29);
$accent-light: rgb(227, 180, 136);
$bg-primary: rgb(245, 243, 243);
$bg-secondary: #fff;
$text-primary: rgb(17, 17, 17);
$text-secondary: rgb(41, 41, 41);
$line: rgb(223, 210, 200);
$shadow: rgba(59, 29, 7, 0.213);
