@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  outline: none;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
}

body {
  background-color: #f5f5f5;
}
